.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 94px);
  overflow-y: scroll;
  margin: auto;
  padding: 18px 30%;
}

.logo {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  min-width: 104px;
  min-height: 104px;
  transform: rotate(45deg);
  border-radius: 35px;

  display: grid;
  place-items: center;
}

.logo svg {
  transform: rotate(-45deg);
  width: 36px;
  height: 36px;
  color: var(--color-primary);
}

.container > p:first-of-type {
  margin: 48px 0;
  font-weight: bold;
}

.container p {
  text-align: center;
  max-width: 445px;
  font-size: 14px;
}

.container p:last-of-type {
  margin-bottom: 0;
}

.container > div:nth-of-type(5) {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container > div:nth-of-type(5) > div {
  max-height: 115px;
}

.container > div:nth-of-type(6) {
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container > div:nth-of-type(5) > div:first-of-type,
.container > div:nth-of-type(6) > div:first-of-type {
  margin-right: 20px;
}

.container > div:nth-of-type(5) label {
  display: inline-block;
  margin: 20px 0 12px;
}

.container > label {
  margin: 20px 0 12px;
  align-self: flex-start;
}

.categories {
  background-color: var(--color-white);
  position: relative;

  display: flex;
  align-items: center;

  padding: 0 9px;
  
  height: 58px;

  border-radius: 8px;
  box-shadow: var(--shadow);
}

.categories > button {
  border: none;
}

.categories > button + button {
  margin-left: 9px;
}

.container > div:last-of-type {
  display: flex;
}

.container div:last-of-type button + button {
  margin-left: 16px;
}

.errors {
  background-color: var(--color-red-light);
  border-radius: 8px;
  padding: 5px 20px;
  margin-top: 20px;
  margin-bottom: -10px;
  text-align: center;
  color: var(--color-red);
}