.container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 40px;
  min-height: 40px;

  border-radius: 6px;
  border: 0;
}

.container:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.container > div {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover {
  background-color: var(--color-primary-light);
}

.container:disabled:hover {
  background-color: var(--color-primary);
}

.container svg {
  min-width: 20px;
  min-height: 20px;
  color: var(--color-gray);
}

.container:hover svg {
  color: var(--color-primary);
}

.container:disabled:hover svg {
  color: var(--color-white);
}


.primary {
  background-color: var(--color-primary);
}

.primary svg {
  color: var(--color-white);
}

.active svg {
  color: var(--color-primary);
}

.toConfirm:hover {
  background-color: var(--color-red);
}

.toConfirm label {
  color: var(--color-red);
}

.toConfirm:hover svg {
  color: var(--color-white);
}