.container {
  background-color: var(--color-white);

  display: flex;
  align-items: center;

  padding: 0 8px 0 22px;

  width: min-content;
  min-height: 58px;

  border-radius: 8px;
  box-shadow: var(--shadow);
}

.container > svg {
  min-width: 24px;
  min-height: 24px;
  color: var(--color-gray);
  margin-right: 28px;
}

.container input {
  border: none;
  background: none;
  outline: none;
  margin: 0 8px;
  margin-top: 2px;
  width: 24px;
  text-align: center;
}

.disabled > svg {
  margin-right: 0px !important;
}

.label {
  display: inline-block;
  margin-bottom: 12px;
}

.noBackground {
  background: none;
  box-shadow: none;
  padding: 0;
}

.noBackground input {
  color: var(--color-white);
}

.noBackground button {
  background: var(--color-white-light);
}

.noBackground button:hover {
  background: var(--color-white);
}

.noBackground button:hover svg {
  color: var(--color-primary);
}

.noBackground button svg {
  color: var(--color-white);
}

.noBackground > svg {
  min-width: 24px;
  min-height: 24px;
  color: var(--color-white);
  margin-right: 28px;
}

.noBackground input {
  border: none;
  background: none;
  outline: none;
  margin: 0 8px;
  margin-top: 2px;
  width: 24px;
  text-align: center;
}
