.header {
  background-color: var(--color-white);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 18px;

  width: calc(100% - 36px);
  height: 58px;

  border-radius: 8px;
  box-shadow: var(--shadow);
}

.header h1 {
  font-size: 18px;
}

.header button:first-of-type {
  position: absolute;
  left: 8px;
}

.header button:last-of-type {
  position: absolute;
  right: 8px;
}