.li {
  list-style: none;
}

.li a {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  height: 83px;
  transition: transform 0.2s;
}

.li a:hover {
  transform: translateY(-5px);
  cursor: pointer;
}


.aside {
  background-color: var(--color-white);
  margin-right: 18px;
  box-shadow: var(--shadow);
  border-radius: 8px;
  min-width: 83px;
  height: 83px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.aside span {
  color: var(--color-primary);
}

.content {
  width: 900px;
  height: 83px;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0;
}

.content section {
  display: flex;
  align-items: center;
}

.pseudoImg {
  background-color: var(--color-primary);
  min-width: 58px;
  height: 58px;
  border-radius: 58px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 32px;

  color: var(--color-white);
  font-size: 18px;
}

.infos,
.infos > div {
  display: flex;
  align-items: center;
  color: var(--color-gray);
}

.infos > div:nth-child(1) svg {
  min-width: 24px;
  min-height: 24px;
  margin-right: 6px;
  margin-top: -1px;
}

.infos > div + div {
  margin-left: 20px;
}

.infos > div:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 90px;
  height: 40px;
  padding-top: 2px;

  font-size: 14px;
  color: var(--color-green);

  border-radius: 6px;
  background-color: var(--color-green-light);
}

.infos > div:nth-child(3) span:first-child {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.small > a {
  width: 460px;
  height: 72px;
  margin: 0;
}

.small > a > div {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0 22px;
  height: 72px;
}

.small > a > div section > div {
  color: var(--color-white);
}

.small > a > div section:first-child > p {
  width: 140px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.small > a > div section:first-child > div {
  background-color: var(--color-white);
  color: var(--color-primary);
  margin-right: 15px;
  min-width: 46px;
  height: 46px;
}

.small > a > div section:last-of-type > div:last-of-type {
  background-color: var(--color-white-light);
  color: var(--color-white);
}

.small > a > div section:last-of-type > div + div {
  margin-left: 13px;
}

.small + .small {
  margin-top: 8px;
}