.container {
  display: flex;
  align-items: center;
  margin: 18px;
}

.container > div + div {
  margin-left: 18px;
}

.categories {
  background-color: var(--color-white);
  position: relative;

  display: flex;
  align-items: center;

  padding: 0 9px;
  
  height: 58px;

  border-radius: 8px;
  box-shadow: var(--shadow);
}

.categories > div + div {
  margin-left: 9px;
}

.buttons {
  background-color: var(--color-white);
  position: relative;

  display: flex;
  align-items: center;

  padding: 0 9px;
  
  height: 58px;

  border-radius: 8px;
  box-shadow: var(--shadow);
}

.buttons button:nth-child(2) {
  margin: 0 24px 0 8px;
  position: relative;
}

.buttons button:nth-child(2)::before {
  content: "";
  background-color: var(--color-primary);
  position: absolute;
  top: 30%;
  bottom: 30%;
  right: -12px;
  width: 2px;
  border-radius: 8px;
}